.App{
  text-align: center;
}
body{
  background-color: rgb(141, 218, 192);
  text-align: center;
}
.sdf{
  background-color: #bfe6c6;
  min-height:500px;
  width: 400px;
  margin: 40px auto;
  text-align: center;
  margin-top: 5%;
  padding-top: 3%;
  padding-bottom: 3%;
}
.dig input{
  background-color: rgb(101, 161, 143);
  border: none;
  padding: 2%;
}
.dig button{
  background-color: rgb(101, 161, 143);
  border: none;
  border-radius: 0%;
  padding: 2%;
}
